<!DOCTYPE html>
<html>
	<head>
		<title><%= folder %></title>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<link rel="shortcut icon" type="image/png" href="assets/logo.png">
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<meta name="theme-color" content="#303030">
	</head>
	<body>
		<div>Home Page</div>
	</body>
</html>
